---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: Dnsmasq
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

{{ .SchemaMarkdown | trimspace }}
